@import url("https://fonts.googleapis.com/css2?family=Arima&display=swap");

* {
  font-family: Arima;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 200px;
}

.main-container p {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  transition: all ease 0.3s;
}

.title {
  margin: 0;
  padding: 0;
  background-color: #1d9bf0;
  border-radius: 20px;
}

.title h1 {
  font-size: 24px;
  margin-left: 50px;
  color: white;
  padding: 10px;
  font-weight: bold;
}

.para {
  width: 100%;
  font-size: 21px;
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.by {
  margin-top: 0px;
}

.btn2 {
  margin-top: 100px;
}

.btn2 button {
  width: 120px;
  font-size: 15px;
  height: 30px;
  border-radius: 4px;
  transition: all ease 0.3s;
  border: 2px solid;
  border-color: #0b6df7;
}

.btn2 button:hover {
  background-color: #1d9bf0;
  color: white;
  border-color: white;
}
